* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #833ab4;
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); 
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); 
}

#head {
  font-family: "DotGothic16", sans-serif;
  font-family: "Oi", cursive;
  padding: 0px;
  margin: 140px;
  opacity: 0.7;
  margin-top: 50px;
}

nav {
  padding: 20px;
  margin: 20px;
  background: black;

  letter-spacing: 4px;
  text-decoration: none;
  font-family: "DotGothic16", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
}

li {
  display: inline;
  float: left;
  font-family: "DotGothic16", sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
}
nav a {
  display: inline-block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

#slider {
  overflow: hidden;
}

@keyframes slider {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  33% {
    left: -100%;
  }
  63% {
    left: -100%;
  }
  66% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}
#slider figure {
  width: 300%;
  position: relative;
  animation: 4s slider infinite;
}

#slider figure img {
  width: 33.333333333%;
  height: 100%;
  float: left;
}
#slider {
  width: 1310px;
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
}

.cards {
  width: 80vw;

  margin: 60px auto;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-columns: minmax(250px, auto);

  /* grid-auto-rows: minmax(250px, auto); */
  gap: 30px;
}

.caption {
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: rgba(0, 0, 0, 0.795);
  font: italic smaller sans-serif;
  padding: 0px;
  text-align: center;
  border-radius: 40px 20px;
  opacity: 0.7;
}

.abc {
  width: 100%;
  height: 100%;
  border-radius: 60px 30px;
  transition: 0.3s;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(28, 45, 199);
  color: #fff;
}
